section#section-3 {
    height: 80vh;
    width: 100%;
}

.highlights {
    position: relative;
    background: rgba(247, 247, 247, 0.7);
    padding: 4rem auto 4rem;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

.highlights div {
    padding: 5rem 0;
}

.highlights .highlight-vertical-txt {
    font-size: 15px;
    display: grid;
    place-items: center;
}

.highlight-vertical-txt h5 {
    transform: rotate(-90deg);
    /* height: 100%; */
    position: relative;
    width: 200px;
    left: -50px;
    top: -70px;
}
.highlight-vertical-txt h5::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100px;
    background: rgba(0,0,0,0.2);
    bottom: 8px;
    left: -120px
}


.highlights .highlight-container{
    /* background: #999; */
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.highlight-container div {
    padding: 1rem;
    border-radius: 5px;
}


.item-container-small {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

.item-container-small .furniture-container {
    background-color: #EFEFEF;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}
.furniture-container .img-container {
    display: grid;
    place-content: center;
}
.furniture-container .txt-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.txt-container h5 {
    color: #C58940;
}
.txt-container h1 {
    font-size: 20px;
    margin-bottom: 5px;
}
.txt-container h1 span {
    color: #C58940;
}

.txt-container p {
    font-size: 10px;
    color: rgba(0,0,0,0.5);
    margin: 10px 0;
    width: 80%;
}

.txt-container button {
    background: #C58940;
    width: fit-content;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 50px;
    font-size: 8px;
    font-weight: 600;
    color: #fff;
}

.item-container-large {
    margin: 1rem 0;
    background-color: #EFEFEF;
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

.item-container-large .img-container {
    display: grid;
    justify-content: center;
    align-items: center;
}

.item-container-large .txt-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-container-large .txt-container p {
    width: 60%;
    text-align: center;
}



.highlights .nav-numbers {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;

}

.highlights .nav-numbers h5 {
    position: relative;
    /* right: -50px; */
    margin-left: 50px;
    margin-right: 10px;
    line-height: 1.5rem;
}

.highlights .nav-numbers h5:nth-child(1),
.highlights .nav-numbers h5:nth-child(3){
    color: rgba(0,0,0,0.2);
}

