section#section-7{
    height: 30vh;
    width: 100%;
    background: #efefef;
    display: grid;
    place-items: center;
}

form.subscribe-container {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 4rem;
    place-items: center;
}

.subscribe-container label{
    justify-self: end;
}

.subscribe-container > label > h1 {
    font-size: 20px;
    font-weight: 600;
}

.subscribe-container label h1::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100px;
    background: rgba(0, 0, 0, 0.2);
    transform: translate(-130px, 12px);
}

.subscribe-container div {
    justify-self: start;
    /* background: #fff; */
    width: 25rem;
    height: 40px;
    /* border-radius: 50px 50px 50px 50px; */
    overflow: hidden;
    display: grid;
    /* place-items: center; */
    grid-template-columns: 60% 35%;
}

.subscribe-container div input {
    /* width: 90%; */
    /* height: 100%; */
    overflow: hidden;
    padding-left: 20px;
    color: #999;
    font-size: 15px;
    /* border: 1px solid black; */
    border-radius: 50px 0 0 50px;
}
.subscribe-container input::placeholder {
    color: rgba(0,0,0,0.1);
    font-size: 12px;
    padding: 10px 0px 10px 5px;
}

form.subscribe-container button {
    background: #C58940;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1.5px;
    padding: 10px 20px;
    border-radius: 0px 50px 50px 0px;
}


@media screen and (max-device-width:1024px), screen and (max-width: 1024px) {
    form.subscribe-container {
        width: 90%;
        grid-template-columns: 1fr;
        place-items: center;
        gap: 1rem;
    }

    .subscribe-container label {
        justify-self: center;
    }

    .subscribe-container label h1 {
        font-size: 25px;
    }

    .subscribe-container label h1::before {
        display: none;
    }

    .subscribe-container div {
        justify-self: center;
    }
    
}

@media screen and (max-device-width:600), screen and (max-width: 600) {
    form.subscribe-container {
        width: 100%;
    }
    .subscribe-container label h1::before {
        display: none;
    }
    .subscribe-container form h1{
        font-size: 15px;
    }

    .subscribe-container div {
        width: 19rem;
    }
}
